body{
	background-image: url('images/WSU_GreenFee.png');
	background-size: 500px;
	background-position: 93% 120px;
	background-repeat: no-repeat;
}

nav, thead{
	background-color: rgb(124, 164, 69);
}
